name: Basic CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Show repo files
        run: ls -la

      - name: CI success
        run: echo "CI pipeline is working"
